# Example template of how to use Nginx to load balance TCP and UDP.
load_module /usr/lib/nginx/modules/ngx_stream_js_module.so;
worker_processes auto;
pid /var/run/nginx.pid;
user root;

events {
    use epoll;
    worker_connections 524288;
}
stream {
    js_var $js_stream_port $remote_port;
    js_var $js_stream_addr $remote_addr;
    js_import stream.js;  
    js_set $server_choice stream.getUpstream;

    server {
        js_preread stream.readLastOctet;
        error_log /var/log/nginx/error.log error;
        listen 10500-10509 udp reuseport;
        proxy_timeout 120s;                
        proxy_pass $server_choice;
    }
}