# Example template of how to use Nginx to load balance TCP and UDP.
worker_processes auto;
pid /var/run/nginx.pid;
user root;

events {
    use epoll;
    worker_connections 2048;
    multi_accept on;
}
stream {
        js_include stream.js;
        upstream udp_upstreams {
        {{- range $appid, $app := .Apps}}
        {{- range $label, $label := $app.Labels}}
        {{- if eq $label "UDPLoadBalanced"  }}
        {{- range $task := $app.Tasks}}
            server {{ $task.Host }}:{{ index $task.Ports 1 }};
        {{- end}}
        {{- end}}
        {{- end}}
        {{- end}}
        }
    server {
        listen 10500 udp;
        proxy_pass udp_upstreams;
        js_filter foo;
        access_log /var/log/nginx/access.log combined;
    }
}